{% extends "base.html" %}
{% block content %}
  <form method="post">
    <h2>Sign Up</h2>
    <label for="username"><h4>Username</h4></label>
    <input type="text" name="username" value="{{username}}">
    <span class="error">{{error_username}}</span>
    
    <label for="password"><h4>Password</h4></label>
    <input type="password" name="password" value="">
    <span class="error">{{error_password}}</span>
      
      
    <label for="verify"><h4>Verify Password</h4></label>
    <input type="password" name="verify" value="">
    <span class="error">{{error_verify}}</span>
      
    <label for="email"><h4>Email</h4></label>
    <input type="text" name="email" value="{{email}}">
    <span class="error">{{error_email}}</span>
      
    <p class="submit"><input type="submit" value="Sign Up" class="btn btn-warning"></p>
  </form>
{% endblock %}